.example-form {
    margin-top: 50px;
    margin-left: 20px;
    min-width: 150px;
    max-width: 950px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  .example-form1 {
    margin-top: 10px;
    margin-left: 20px;
    min-width: 150px;
    max-width: 950px;
    width: 100%;
  }
  .example-form1 textarea {
    height: 100px;
  }
  .question{
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;

    border-radius: 5px;

    margin-left: 20px;
    margin-right: 250px;
    margin-bottom: 50px;
    border: 1px solid gray;
  }
  .button{
 
    display: flex;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .saif{
    font-family: 'Times New Roman', Times, serif;
    margin-top: 50px;
    margin-left: 25px;
  
  
  }
  .aziz{
   
    height: 60px;
  }
  .image img{
    width: 150px;
    float:right;
    height: 70px;
  }
  
  .question h4{
    margin-bottom: 3px;
    margin-left: 7px;
    color: gray;
  }
  .example-form1 h1{
    margin-bottom: 3px;
    margin-left: 5px;
  }
  .clear{
    clear: both;
  }
  .title{
    margin-bottom: 3px;
  margin-left: 5px;
  padding-top: 10px;
  }
  .background{
    margin-top: 0px;
    padding-top: 0px;
    height: 1000px;
  }

  