



<!-- <div class="bzt">
<apx-chart
  id="user_inscrit"
  [series]="chartUserOptions.series"
  [chart]="chartUserOptions.chart"
  [xaxis]="chartUserOptions.xaxis"
  [plotOptions]="chartUserOptions.plotOptions"
  [dataLabels]="chartUserOptions.dataLabels"
></apx-chart>
</div> -->
<br>
<br>
<!-- <div class="bzt">
  <apx-chart
    id="vote"
    [series]="chartSeries"
    [chart]="chartOptions2.chart"
    [xaxis]="chartOptions2.xaxis"
    [yaxis]="chartOptions2.yaxis"
  ></apx-chart>
</div> -->

<!-- <div id="chart">
  <apx-chart
    [series]="chartOptions.series"
    [chart]="chartOptions.chart"
    [dataLabels]="chartOptions.dataLabels"
    [plotOptions]="chartOptions.plotOptions"
    [xaxis]="chartOptions.xaxis"
  ></apx-chart>
</div> -->
<div class="centered-div with-border">
  <div class="circle-container with-shadow">
    <apx-chart
      id="kk"
      [series]="chartPieOptions.series"
      [chart]="chartPieOptions.chart"
      [labels]="chartPieOptions.labels"
    ></apx-chart>
  </div>
</div>

<div class="centered-div with-border">
  <div class="with-shadow">
    <apx-chart
      id="bar"
      [series]="chartOptions.series"
      [chart]="chartOptions.chart"
      [xaxis]="chartOptions.xaxis"
    ></apx-chart>
  </div>
</div>
