/* .col-sm-6 {
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: auto;
    margin-top: 100px;
    background-color:white;
    border-radius: 5px;
   
    padding-top: 40px;
    padding-bottom: 50px;
    padding-right: 15px;
    padding-left: 15px;
    background-color: transparent;
    border: none;
    
    
} */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;800&display=swap');
*{
    font-family: 'poppins' ,sans-serif;
}

body{
    background-image: url("src/assets/images/formation2.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    
    
    
}

.box{
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin-right: 150px;
}
.container{
    width: 350px;
    display: flex;
    flex-direction: column;
    padding: 0 15px 0 15px;
    height: 400px;
}
span{
    color: #fff;
    font-size: small;
    display: flex;
    justify-content: center;
    padding: 10px 0 10px 0;
}
header{
    color: #fff;
    font-size: 30px;
    display: flex;
    justify-content: center;
    padding: 10px 0 10px 0;
}

.input-field .input{
    margin: 5px;
    height: 45px;
    width: 87%;
    border: none;
    border-radius: 30px;
    color: #fff;
    font-size: 15px;
    padding: 0 0 0 45px;
    background: rgba(255,255,255,0.1);
    outline: none;
}
.input-login .input{
    margin: 5px;
    height: 45px;
    width: 87%;
    border: none;
    border-radius: 30px;
    color: #fff;
    font-size: 15px;
    padding: 0 0 0 45px;
    background: rgba(255,255,255,0.1);
    outline: none; 
    
}
i{

    position: relative;
    top: 0px;
    left: 35px;
    color: #fff;
}
::-webkit-input-placeholder{
    color: #fff;
}
.submit{
    margin: 5px;
    border: none;
    border-radius: 30px;
    font-size: 15px;
    height: 40px;
    outline: none;
    width: 50%;
    color: black;
    background: rgba(255,255,255,0.7);
    cursor: pointer;
    transition: .3s ;
    position: relative;
    right: -80px;
    margin-top: 20px;  
}
.submit:hover{
    box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.2);
}
.two-col{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #fff;
    font-size: small;
    margin-top: 10px;
}
.one{
    display: flex;
}
label a{
    text-decoration: none;
    color: #fff;
}
