<body>
  <div class="navbar wave">
    <img src="assets/images/graduate-cap.png" alt="Logo" class="logo">
    <a class="active" href="#"><i class="fa fa-fw fa-home"></i> Home</a>
    <a routerLink="/login"><i class="fa fa-fw fa-envelope"></i> Contact</a>
    <a routerLink="/login"><i class="fa fa-fw fa-user"></i> Login</a>
  </div>
  
  <div class="container">
    <div class="logo-container">
    </div>
    <h1>Welcome to Our Website</h1>
    <p>LearnIt is Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vero incidunt delectus rerum molestiae asperiores aspernatur cum praesentium beatae error impedit tenetur saepe aliquid sed consectetur eaque temporibus, ea minus dolorem.</p>
    <br>
  </div>
  
</body>
