

<div class="question-list">
  <button mat-raised-button color="primary" routerLink="/question-reponse">Add Questions</button>
  <div class="question-card" *ngFor="let question of questions">
    <div class="question-header">
      <h2 class="question-title">{{ question.title }}</h2>  
      <div class="question-meta">
        <span class="question-author">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0012 15.75a7.488 7.488 0 00-5.982 2.975m11.963 0a9 9 0 10-11.963 0m11.963 0A8.966 8.966 0 0112 21a8.966 8.966 0 01-5.982-2.275M15 9.75a3 3 0 11-6 0 3 3 0 016 0z" />
          </svg>
          {{ question.auteur.firstname}} {{ question.auteur.lastname }}
        </span>
        <span class="question-role">{{ question.auteur.role }}</span>
      </div>
    </div>

    <div class="question-container">
      <div style="display: flex;" class="question-row">
        <div class="question-content"> 
          <p class="question-description"><i>{{ question.description }}</i></p>
        </div>
        
        <div class="question-footer">
          <button mat-icon-button color="primary" *ngIf="question.auteur._id == user || role == 'Bienvenue Admin'" class="question-edit" routerLink="/edit-question/{{ question._id }}">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-button color="primary" (click)="showAnswerInputField(question)">Add answer</button>
          <button mat-icon-button color="warn" class="question-delete" (click)="onClickDelete(question._id)" *ngIf="question.auteur._id == user || role == 'Bienvenue Admin'">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
    </div>
    

    <div class="reponse-content">
      <p *ngIf="question.answers.length === 0" class="reponse-description">No answers</p>

      <p *ngFor="let reponse of question.answers" class="reponse-description" style="width:500px; padding: 10px; border-bottom: 1px solid #ccc">
        <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" fill="currentColor" class="bi bi-circle-fill" viewBox="0 0 16 16"> 
          <circle cx="8" cy="8" r="8"/> </svg>
        {{ reponse.description }} <button mat-button color="warn" (click)="deleteAnswer(reponse._id)" *ngIf="reponse.auteur == user || role == 'Bienvenue Admin'">Delete answer</button></p>
        
      <form *ngIf="showAnswerInput && question === currentQuestion" (ngSubmit)="addAnswer(description)">
        <mat-form-field class="textfield" appearance="outline">
          <textarea matInput placeholder="Your answer" [(ngModel)]="description" name="description"></textarea>
        </mat-form-field>
        <button mat-button type="submit">Submit</button>
        <button mat-button (click)="showAnswerInput = false">Cancel</button>
      </form>
    </div>
    
    
  </div>
</div>

