
  
  <!-- <form (ngSubmit)="save()">
    <div class="form-group">
      <label for="description">Description</label>
      <textarea id="description" name="description" [(ngModel)]="description" class="form-control"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
   -->
   <form (ngSubmit)="save()">
    <mat-form-field>
      <mat-label>Description</mat-label>
      <textarea matInput id="description" name="description" [(ngModel)]="description"></textarea>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">Submit</button>
  </form>
  