 .example-card {
    margin-bottom: 10px;
    margin-right: 15px;
    width: 400px;
    padding-bottom: 50px;
  } 

  body {

    background-color: #f5f5f5;
    min-height: 100vh;
    height: auto;
  }
  .button {
    width: 150px;
    background-color:  #1E88E5; 
    border: none; 
    color: white; 
    padding: 1px 3px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 16px; 
    margin: 20px; 
    cursor: pointer; 
  }
  .main {
    display: flex;
    flex-wrap: wrap;
    margin-left: 10px !important;
  }
 
  .text22{
    margin-left: 32px;
    width: 300px;
  }
  
.btns{
  margin-left: 18px;
  position: absolute; 
  bottom: 10px;
}
.button2 {
  
  float: right;
  width: 150px;
  background-color: #1E88E5; 
  border: none; 
  color: white; 
  padding: 1px 3px; 
  text-align: center; 
  text-decoration: none; 
  font-size: 16px; 
  margin: 20px 20px; 
  cursor: pointer; 
 
}

.start svg{
  height: 20px;
}
.svg svg{
  height: 20px;
  width: 20px;
}
.image{
  margin-left: 30px;
}

.custom-toast {
  background-color: #f44336;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
}



 


  
  
  
  
  